.container {
  max-width: $content-width;
  margin: $spacing-unit auto;
}

/**
* Site Header
*/

.site_header {
  margin-bottom: $spacing-unit * 1.65;

  a {
    color: $grey-color;
    font-family: 'Lato', sans-serif;
    margin-right: 1em;
  }
}

/**
 * Site footer
 */
.site_footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;

  a {
    color: $grey-color;
    margin-left: 1em;
    border-left: 1px solid $grey-color-light;
    padding-left: 1em;
  }
}

hgroup {
  text-align: center;
  .main_title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 2.6em;
  }
  .secondary_title {
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
    font-weight: 300;
    color: $grey-color;
  }
}

.page_content, .post_content {
  p {
    margin: ($spacing-unit / 2) 0;
  }

  img {
    display: block;
    border: none;
    width: 100%;
    height: auto;
  }
}

.posts {
  a {
    display: block;
    text-decoration: none;
    padding-bottom: $spacing-unit / 2;

    .post-meta {
      font-family: 'Lato', sans-serif;
      color: $grey-color;
      font-weight: 300;

      &:after {
        content: '-';
        color: $text-color;
        display: inline-block;
        margin: 0 0.4em;
      }
    }
  }
}
